.logo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo img {
    /*filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg) brightness(106%) contrast(101%);*/
}

.logo span {
    font-size: 1.2rem;
    font-weight: 600;
}

.active{
    background-color: var(--mat-sys-primary) !important;
    box-shadow: 1px 2px black;
    color: white !important;
}

.menu{
    flex-grow: 1; 
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.meu-item{
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 95px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: var(--mat-sys-surface-container-high);
}

.meu-item:hover {
    background-color: var(--mat-sys-tertiary);
    box-shadow: 1px 2px black;
    color: white !important;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding: 15px;
    overflow: hidden;
    position: fixed; 
    top: 0;
    background-color: white !important;
    z-index: 100;
    background-image: url('/meere/menu/top-menu.jpg');
    background-repeat: no-repeat;
    background-position: right 10% top 10%;
    background-size: 400px;
}
