.quiz-container{
    width: 100%;
    height: 100%;
    padding: 0 150px;
}

.frage-nummer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;

}

.frage-nummer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc !important;
    font-weight: bold;

}

.richtigBeantwortet {
    background-color: #2e7d32 !important;
    color: white !important
}

.falshBeantwortet {
    background-color: #c62828 !important;
    color: white !important;
    
}


.frage-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(240, 239, 239);
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

.frage-optionen{
    width: 100%;
}

.option-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: none;
}

.mat-button-toggle-group-appearance-standard{
    border-radius: 0;
}

.option {
    border: 2px solid #ccc;
    border-radius: 8px !important;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.istRichtig {
  background-color: #e8f5e9 !important; 
  border-color: #2e7d32 !important;     
  color: #2e7d32 !important;             
  opacity: 1 !important;

   mat-icon {
    color: #2e7d32;
  } 


}

.istFalsh {
  background-color: #ffebee !important; 
  border-color: #c62828 !important;     
  color: #c62828 !important;             
  opacity: 1 !important;

  mat-icon {
    color: #c62828;
  }

}

.next{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.option-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* Quiz Ergebnis*/

.quiz-ergebnis-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.ergebnis{
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.ergebnis-bild{
    height: 100%;
    background-color: rgb(240, 239, 239);
    border-radius: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.ergebnis-noten{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anzahl-richtig {
    padding: 20px;
    background-color: var(--mat-sys-secondary);
    text-align: center;
}

.anzahl-richtig span{
    font-size: 20px;
    color: var(--mat-sys-on-secondary);
}

.anzahl-falsch{
    padding: 20px;
    background-color: var(--mat-sys-secondary);
    text-align: center;
}

.anzahl-falsch span{
    font-size: 20px;
    color: var(--mat-sys-on-secondary);
}

.quiz-wieder-oder-exit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ergebnis-nachricht {
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 239, 239);
    font-weight: bold;
}

.frage-bild{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: gray;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}



