.quiz-container {
    width: 100%;
    height: 100%;
    padding: 95px 150px 0 150px;
}

.frage-nummer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
}

.frage-nummer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black !important;
    box-shadow: 2px 4px black !important;
    font-weight: bold;

}

.next-end {
    padding: 12px;
    width: 100px;
    cursor: pointer;
    background-color: var(--mat-sys-primary);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    border: 2px solid black;
}

.next-end:hover {
    box-shadow: 2px 4px black;
}

.disabled {
    background-color: gray !important;
    color: rgb(75, 75, 75) !important;
}

.richtigBeantwortet {
    background-color: #2e7d32 !important;
    color: white !important
}

.falschBeantwortet {
    background-color: #c62828 !important;
    color: white !important;

}


.frage-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 4px black;
}

.frage-optionen {
    width: 100%;
}

.option-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: none;
}

.mat-button-toggle-group-appearance-standard {
    border-radius: 0;
}

.option {
    border: 1px solid black !important;
    background-color: var(--mat-sys-surface-container);
    border-radius: 8px !important;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.istRichtig {
    background-color: #36be41 !important;
    border-color: black !important;
    color: white !important;
    opacity: 1 !important;

    mat-icon {
        color: white;
    }


}

.istFalsch {
    background-color: #bb3246 !important;
    border-color: black !important;
    color: white !important;
    opacity: 1 !important;

    mat-icon {
        color: white;
    }

}

.next {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* Quiz Ergebnis*/

.quiz-ergebnis-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.ergebnis {
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.ergebnis-bild {
    height: 100%;
    background-color: var(--mat-sys-secondary-container)
        /* rgb(240, 239, 239)*/
    ;
    border-radius: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.ergebnis-noten {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anzahl-richtig {
    padding: 20px;
    background-color: var(--mat-sys-secondary);
    text-align: center;
}

.anzahl-richtig span {
    font-size: 20px;
    color: var(--mat-sys-on-secondary);
}

.anzahl-falsch {
    padding: 20px;
    background-color: var(--mat-sys-secondary);
    text-align: center;
}

.anzahl-falsch span {
    font-size: 20px;
    color: var(--mat-sys-on-secondary);
}

.quiz-wieder-oder-exit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ergebnis-nachricht {
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 239, 239);
    font-weight: bold;
}

.frage-bild {
    height: 250px;
    display: flex;
    align-items: center;
    background-color: var(--mat-sys-secondary-container);
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}