@if(meerObservable | async){
<div class="vergleich-container">
    <h2 style="margin-bottom: 50px;">{{this.source =='ocean' ? 'Ozeane ': 'Tiere '}} vergleichen </h2>
    <div class="vergleich-content-container">
        <div class="item-1">
            <div class="name1">
                {{this.source =='ocean' ? this.selectedMeer1.name: this.selectedTier1.name}}
            </div>
            <div class="vergleich-content">
                <div class="bild">
                    <img 
                        [src]="this.source == 'ocean' ? this.selectedMeer1.features[0].bildUrl : this.selectedTier1.bildUrl" 
                        [alt]="this.source == 'ocean' ? this.selectedMeer1.features[0].feature : this.selectedTier1.bildUrl" 
                        style="border-radius: 10px;height: 100%; width: 100%; object-fit: contain;"
                    >
                </div>
                <div class="merkmale">
                    @if(this.source == 'tier'){
                        <div class="feature">
                            Ozean
                        </div>
                        <div class="feature-detail">
                            {{this.selectedMeer1.name}}
                        </div>
                        <div class="separator-x"></div>
                    }
                    <div class="feature">
                        {{this.source =='ocean' ? 'Größe': 'Länge'}}
                    </div>
                    <div class="feature-detail">
                        {{this.source =='ocean' ? this.selectedMeer1.groesse: this.selectedTier1.laenge}}
                    </div>
                    <div class="separator-x"></div>
                    <div class="feature">
                        Tief
                    </div>
                    <div class="feature-detail">
                        {{this.source =='ocean' ? this.selectedMeer1.tief : this.selectedTier1.tief}}
                    </div>
                    <div class="separator-x"></div>
                    <div class="feature">
                        {{this.source =='ocean' ? 'Temperatur' : 'Gewicht'}}
                    </div>
                    <div class="feature-detail">
                        {{this.source =='ocean' ? this.selectedMeer1.temperatur : this.selectedTier1.gewicht}}
                    </div>
                    <div class="separator-x"></div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="item-2">
            <div>
                @if(this.source == 'ocean'){
                <mat-select [(value)]="selectedMeer2" style="border: 2px solid black; padding: 8px; background-color: var(--mat-sys-primary); color: var(--mat-sys-on-primary); font-weight: bold; font-size: 15px;">
                    @for (item of this.meere; track item.id) {
                    <mat-option [value]="item">{{item.name}}</mat-option>
                    }
                </mat-select>
                } @else {
                <mat-select [(value)]="selectedTier2" style="border: 2px solid black; padding: 8px; background-color: var(--mat-sys-primary); color: var(--mat-sys-on-primary); font-weight: bold; font-size: 15px;">
                    @for (item of this.tiere; track item.id) {
                    <mat-option [value]="item">{{item.name}}</mat-option>
                    }
                </mat-select>
                }
            </div>
            <div class="vergleich-content">
                <div class="merkmale">
                    @if(this.source == 'tier'){
                        <div class="feature">
                            Ozean
                        </div>
                        <div class="feature-detail">
                            {{this.selectedTier2.ozean}}
                        </div>
                        <div class="separator-x"></div>
                    }
                    <div class="feature">
                        {{this.source =='ocean' ? 'Größe': 'Länge'}}
                    </div>
                    <div class="feature-detail">
                        {{this.source =='ocean' ? this.selectedMeer2.groesse: this.selectedTier2.laenge}}
                    </div>
                    <div class="separator-x"></div>
                    <div class="feature">
                        Tief
                    </div>
                    <div class="feature-detail">
                        {{this.source =='ocean' ? this.selectedMeer2.tief : this.selectedTier2.tief}}
                    </div>
                    <div class="separator-x"></div>
                    <div class="feature">
                        {{this.source =='ocean' ? 'Temperatur' : 'Gewicht'}}
                    </div>
                    <div class="feature-detail">
                        {{this.source =='ocean' ? this.selectedMeer2.temperatur : this.selectedTier2.gewicht}}
                    </div>
                    <div class="separator-x"></div>
                </div>
                <div class="bild">
                    <img 
                        [src]="this.source == 'ocean' ? this.selectedMeer2.features[0].bildUrl : this.selectedTier2.bildUrl" 
                        [alt]="this.source == 'ocean' ? this.selectedMeer2.features[0].feature : this.selectedTier2.bildUrl" 
                        style="border-radius: 10px; height: 100%; max-width: 100%; object-fit: contain;"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
}