.vergleich-container {
    padding: 95px 150px 0 150px;
}

.zurueck{
    cursor: pointer;
    border: 2px solid black; 
    color: var(--mat-sys-on-primary); 
    background-color: var(--mat-sys-primary); 
    padding: 8px; 
    font-weight: bold; 
    font-size: 15px; 
    border-radius: 8px; 
    width: 100px;
}

.zurueck:hover{
    box-shadow: 2px 3px black; 
}

.vergleich-content-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 500px;
    align-items: center;
}

.item-1,
.item-2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 4px black;
}

.vergleich-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.merkmale {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
}

.separator-x {
    height: 2px;
    background-color: black;
    width: 100%;
}

.separator {
    width: 2px;
    background-color: rgb(197, 192, 192);
    height: 100%;
}


.name1 {
    background-color: var(--mat-sys-primary);
    text-align: center;
    color: var(--mat-sys-on-secondary);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
}

.feature {
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.feature-detail {
    text-align: center;
    height: 50px;
    color: black;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

.bild {
    width: 75%;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}