.vergleich-container {
    padding: 95px 150px 0 150px;
}

.vergleich-content-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: auto;
    align-items: center;
}

.item-1,
.item-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    border: 2px solid black;
    box-shadow: 2px 4px black;
}

.vergleich-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.merkmale {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.separator-x {
    height: 2px;
    background-color: black;
    width: 100%;
}

.separator {
    width: 2px;
    background-color: rgb(197, 192, 192);
    height: 100%;
}

.name1 {
    background-color: var(--mat-sys-primary);
    text-align: center;
    color: var(--mat-sys-on-secondary);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
}

.feature {
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.feature-detail {
    text-align: center;
    color: black;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

.bild {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 10px;
}